body {
  background-color: black;
  // background: url("bg.png") center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}


// Controls how ALL React inputs look - proceed with caution
div { 
  color: white;
  font-family: 'Source Code Pro', monospace;
}

h1 {
  color: white;
  font-family: 'Source Code Pro', monospace;
}

h2 {
  color: white;
  font-family: 'Source Code Pro', monospace;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
  -webkit-transition-duration: 0.4s;
  z-index: 1;
}

a:hover {
  color: silver;
}

input[type="text"] {
  color: white;
  background: none;
  border: 1px solid silver;
  padding: 1%;
  font-size: 15px;
  margin-bottom: 1em;
  font-family: 'Source Code Pro', monospace;
  -webkit-transition-duration: 0.4s;
  z-index: 1;
}

input[type="text"]:hover {
  padding-right: 10%;
}

.project-grid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  flex-flow: row wrap;

  border: 1px solid silver;
  padding: 2%;
  border-radius: 5px;
}

.project-item {
  display: flex;
  flex-direction: column;
  width: 16em;
  height: 12em;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: .4em;
  overflow: auto;
  overflow-x: hidden;

  border: 1px solid silver;
  padding: 2%;
  border-radius: 5px;
}

.project-name {
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.project-authors {
  padding-left: 2em;
  font-size: 0.8em;
  color: darkgrey;
  font-style: italic;
}


.project-description {
  padding-top: 0.5em
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

nav {
  background-color: black;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  display: block;
  border-bottom: 1px solid white;
  text-decoration: none;
  color: white;
  padding-top: 15px;
}

#nav {
  text-align: center;
}

.fixed-nav-bar {
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

button {
  -webkit-transition-duration: 0.4s;
  z-index: 1;
  color: white;
  background-color: black;
  border: none;
  padding-bottom: 1.5em;
  padding-right: 1.5em;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
}

button:hover {
  color: silver;
  cursor: pointer;
}

/* Project Form */
.form-header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid silver;
  border-bottom: 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.form-project-name {
  font-size: 1.4em;
  
}

.chunk-container {
  display: flex;
  justify-content: center;
  padding: 1em;
  border: 1px solid silver;
  border-bottom: 0px;
}



.image-chunk {
  display: flex;
  flex-direction: column;
}

.image-chunk .image {
  display:block;
  height: 315px;
  width: 420px;
  flex-basis: auto;
}

.image-chunk .description {
  display:block;
  font-style: italic;
  color: grey;
  font-size: 0.8em;
  justify-content: center;
}

.text-chunk-input {
  flex-grow: 1;
  height: 5em;
}

.new-chunk-container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  border: 1px solid silver;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.new-chunk-button {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 0.4em;
}
