body {
  background-color: black;
}


// Controls how ALL React inputs look - proceed with caution
div { 
  color: white;
  font-family: 'Source Code Pro', monospace;
}

div.container {
  border: 1px solid silver;
  padding: 2%;
  border-radius: 5px;
}

h1 {
  color: white;
  font-family: 'Source Code Pro', monospace;
}

h2 {
  color: white;
  font-family: 'Source Code Pro', monospace;
}

ul {
  list-style-type: none;
}

input[type="text"] {
  background: none;
  border: 1px solid silver;
  padding: 1%;
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
  -webkit-transition-duration: 0.4s;
}

input[type="text"]:hover {
  padding: 2%;
}

.project-grid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  flex-flow: row wrap;
}

.project-item {
  display: flex;
  flex-direction: column;
  width: 16em;
  height: 12em;
  padding: 1em;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  margin: .4em;
  overflow: auto;
  overflow-x: hidden;
}

.project-name {
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.project-authors {
  padding-left: 2em;
  font-size: 0.8em;
  color: darkgrey;
  font-style: italic;
}


.project-description {
  padding-top: 0.5em
}