ul {
  list-style-type: none;
}

.project-grid {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-end;
  flex-flow: row wrap;
}

.project-item {
  width: 16em;
  height: 12em;
  padding: 3px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.project-name {
  text-align: left;
  width: 100%;
  font-weight: bold;

}

.project-authors {
  padding-left: 2em;
  font-style: italic;
}


.project-description {
}